* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#indigo-btn {
    background-color: #6f42c1;
    color: #fff;
}

/* ===============ALERTS================== */
.notificacion {
    position: fixed;
    top: 4rem;
    right: 4rem;
    padding: 1rem 3rem;
    opacity: 0;
    transition: opacity .5s ease;
    z-index: 1;
}

.visible {
    opacity: 1;
}

/** Colores de la notificacion**/
.correcto {
    background-color: rgb(179, 241, 117);
    color: green;
}

.error {
    background-color: rgb(238, 148, 166);
    color: rgb(163, 0, 33);
}

/* ===============PERSONAL================== */

.container-personal .card {
    width: 50%;
    height: 100%;
    margin: 5px;
}

.container-personal {
    display: flex;
}

@media screen and (min-width: 1558px) {
    .container-personal {
        width: 70%;
    }
}

/* ===============Entrevista================== */
.card-datos-paciente .card {
    width: 100%;
    height: 100%;
}

/* ===============table consumo================== */
#consumo-th {
    font-size: 12px;
}

@media screen and (min-width: 1450px) {
    #consumo-th {
        font-size: 14px;
    }
}

.btn-actions {
    color: #fff;
}

.sm-color {
    background: #5a189a !important;
    color: #FFFFFF !important;
}

label {
    font-size: 13px !important;
}

.btn-cns {
    background:#e9edf3  !important;
}

/* =============== ON & OFF SCREENS ================== */
.w-none {
    display: none;
}

.w-show {
    display: block;
}

/* =============== NAV BAR LINKS ================== */
.main-header {
    background: #563d7c !important;
}

nav ul li a {
    color: #f2f2f2;
}

nav ul li a:hover {
    color: #ddd;
} 
/* =============== Buttons ================== */
.gen-button {
    background: #563d7c;
    color: #ddd;
}

.gen-button:hover {
    color: #fff;
}

.fa-user-edit {
    color: #f2f2f2;
}

.fa-trash-alt {
    color: #f2f2f2;
}

/* =============== Titles headers ================== */
.title-header {
    font-size: 18px;
}

.color-manila {
    background: #F1D592;
}

.color-manila-2 {
    background: #C7B472;
}

.testNumber {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(0.375em + 0.1875rem);
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* ====================== Colors ====================== */
.fa-check{
    color: #7BD827;
}
